.kiv {
    background-color: red;
}

.flex-container {
    display: flex;
    justify-content: center;
}
  
.flex-container > div {
    background-color: white;
    width: 200px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

img {
    width: 200px;
}